<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <!-- 允许访问互联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 文件管理权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Android 13版本适配，细化存储权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
            android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 媒体播放的时候加了WakeLock -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
            android:name="android.permission.READ_LOGS"
            tools:ignore="ProtectedPermissions" />
    <uses-permission
            android:name="android.permission.WRITE_SETTINGS"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SENSOR_ENABLE" />
    <uses-permission android:name="android.permission.SENSOR_INFO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 蓝牙耳机断开连接，暂停播放歌曲用 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
            android:name=".MusicApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_config"
            android:requestLegacyExternalStorage="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:targetApi="n">
        <activity
                android:name=".ui.activity.DonationActivity"
                android:exported="false" />
        <!-- 此meta-data告诉系统我已经适配了Android 13的细分权限 -->
        <meta-data
                android:name="ScopedStorage"
                android:value="true" />
        <meta-data
                android:name="dora.lifecycle.config.TaskStackGlobalConfig"
                android:value="GlobalConfig" />
        <meta-data
                android:name="dora.lifecycle.config.ARouterGlobalConfig"
                android:value="GlobalConfig" />
        <meta-data
                android:name="dora.lifecycle.config.PgyerGlobalConfig"
                android:value="GlobalConfig" /> <!-- <meta-data -->
        <!-- android:name="dora.lifecycle.config.EventBusGlobalConfig" -->
        <!-- android:value="GlobalConfig" /> -->
        <activity
                android:name=".ui.activity.SplashActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activity.MainActivity"
                android:exported="false"
                android:label="主界面"
                android:launchMode="singleTask"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.activity.EqualizerActivity"
                android:exported="false"
                android:label="均衡器"
                android:launchMode="singleTop"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.activity.ColorPickerActivity"
                android:exported="false"
                android:label="选择颜色"
                android:launchMode="singleTop"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.activity.SettingsActivity"
                android:exported="false"
                android:label="设置"
                android:launchMode="singleTop"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.activity.BrowserActivity"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
                android:exported="false"
                android:label="浏览器"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:supportsPictureInPicture="true" />
        <activity
                android:name=".ui.activity.ProtocolActivity"
                android:exported="false"
                android:label="用户协议和隐私政策"
                android:launchMode="singleTop"
                android:screenOrientation="portrait" />
        <activity
                android:name="dora.trade.activity.WalletConnectActivity"
                android:exported="true"
                android:theme="@style/Theme.WalletConnect" />

        <service
                android:name=".media.MediaService"
                android:exported="true"
                android:foregroundServiceType="mediaPlayback"
                android:label="DoraMusic Media">
            <intent-filter>
                <action android:name="site.doramusic.app.service.ACTION_MEDIA_SERVICE" />
            </intent-filter>
        </service>

        <receiver
                android:name=".receiver.BatteryReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
        <receiver
                android:name=".receiver.EarphoneReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
                android:name=".receiver.MusicPlayReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="site.doramusic.app.intent.ACTION_PREV" />
                <action android:name="site.doramusic.app.intent.ACTION_NEXT" />
                <action android:name="site.doramusic.app.intent.ACTION_PAUSE_RESUME" />
            </intent-filter>
        </receiver>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.file-provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider> <!-- 蒲公英的SDK配置 -->
        <meta-data
                android:name="PGYER_API_KEY"
                android:value="b32485d39298de8a302c67883e192107" />
        <meta-data
                android:name="PGYER_FRONTJS_KEY"
                android:value="b821f25618d4adb1e3b6976bfc8daa09" />
        <meta-data
                android:name="PGYER_FEATURE_CHECK_UNPDATE"
                android:value="true" />
    </application>

</manifest>